{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Liver Disease Classification</title>
</head>

<body>
    
    <div class="row row-content">
        <div class="col-md-6">
            <div class="card">
                <h3 class="card-header  text-black">Report</h3>
                <div class="card-body">
                    <dl class="row">
                        <form class="col-4 col-sm col-md-6 " method="post">
                            {% csrf_token %}
                        <dt class="col-6">Name</dt>
                        {% if not path %}
                        <dd class="col-6">{{patient.patient_name}}</dd>
                        {% endif %}
                        <dt class="col-6">Diagnosis</dt>
                        <dd class="col-6">
                            {% if not result %}
                            <input name="diagnosis" type="text" value="{{request.session.result}}">
                            {% else %}
                            <input type="text" value="">
                            {% endif %}
                        </dd>
                        <dt class="col-6">Notes and Comments</dt>
                        <dd class="col-6">
                            <textarea name="notes" cols="30" rows="5">
                            </textarea>
                        </dd>
                        <dt class="col-6">Scan</dt>
                        <dd class="col-6"><img src="/media/scans/{{request.session.path}}" height="300" width="300"></dd>
                        <dd class="col-6 mt-2">
                            <input name="form" type="submit">
                        </dd>
                        </form>
                    </dl>
                </div>
            </div>
        </div>
        
    </div>


    </div>   
</body>


</html>

{% endblock content %}