[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pandas = "*"
joblib = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
graphviz = "*"
pydotplus = "*"
scikit-learn = "*"
simpleitk = "*"
scikit-image = "*"
radiomics = "*"
pyradiomics = "*"

[dev-packages]

[requires]
python_version = "3.7"
